@charset "UTF-8";
.fem10 {
  font-size: 0.1em;
}

.fem20 {
  font-size: 0.2em;
}

.fem30 {
  font-size: 0.3em;
}

.fem40 {
  font-size: 0.4em;
}

.fem50 {
  font-size: 0.5em;
}

.fem60 {
  font-size: 0.6em;
}

.fem70 {
  font-size: 0.7em;
}

.fem80 {
  font-size: 0.8em;
}

.fem90 {
  font-size: 0.9em;
}

.fem100 {
  font-size: 1em;
}

.fem110 {
  font-size: 1.1em;
}

.fem120 {
  font-size: 1.2em;
}

.fem130 {
  font-size: 1.3em;
}

.fem140 {
  font-size: 1.4em;
}

.fem150 {
  font-size: 1.5em;
}

.fem160 {
  font-size: 1.6em;
}

.fem170 {
  font-size: 1.7em;
}

.fem180 {
  font-size: 1.8em;
}

.fem190 {
  font-size: 1.9em;
}

.fem200 {
  font-size: 2em;
}

.fem210 {
  font-size: 2.1em;
}

.fem220 {
  font-size: 2.2em;
}

.fem230 {
  font-size: 2.3em;
}

.fem240 {
  font-size: 2.4em;
}

.fem250 {
  font-size: 2.5em;
}

.fem260 {
  font-size: 2.6em;
}

.fem270 {
  font-size: 2.7em;
}

.fem280 {
  font-size: 2.8em;
}

.fem290 {
  font-size: 2.9em;
}

.fem300 {
  font-size: 3em;
}

.fsize7 {
  font-size: 7px;
}

.fsize8 {
  font-size: 8px;
}

.fsize9 {
  font-size: 9px;
}

.fsize10 {
  font-size: 10px;
}

.fsize11 {
  font-size: 11px;
}

.fsize12 {
  font-size: 12px;
}

.fsize13 {
  font-size: 13px;
}

.fsize14 {
  font-size: 14px;
}

.fsize15 {
  font-size: 15px;
}

.fsize16 {
  font-size: 16px;
}

.fsize17 {
  font-size: 17px;
}

.fsize18 {
  font-size: 18px;
}

.fsize19 {
  font-size: 19px;
}

.fsize20 {
  font-size: 20px;
}

.fsize21 {
  font-size: 21px;
}

.fsize22 {
  font-size: 22px;
}

.fsize23 {
  font-size: 23px;
}

.fsize24 {
  font-size: 24px;
}

.fsize25 {
  font-size: 25px;
}

.fsize26 {
  font-size: 26px;
}

.fsize27 {
  font-size: 27px;
}

.fsize28 {
  font-size: 28px;
}

.fsize29 {
  font-size: 29px;
}

.fsize30 {
  font-size: 30px;
}

.mgtop0 {
  margin-top: 0px;
}

.mgtop10 {
  margin-top: 10px;
}

.mgtop20 {
  margin-top: 20px;
}

.mgtop30 {
  margin-top: 30px;
}

.mgtop40 {
  margin-top: 40px;
}

.mgtop50 {
  margin-top: 50px;
}

.mgtop60 {
  margin-top: 60px;
}

.mgtop70 {
  margin-top: 70px;
}

.mgtop80 {
  margin-top: 80px;
}

.mgtop90 {
  margin-top: 90px;
}

.mgtop100 {
  margin-top: 100px;
}

.mgtop110 {
  margin-top: 110px;
}

.mgtop120 {
  margin-top: 120px;
}

.mgtop130 {
  margin-top: 130px;
}

.mgtop140 {
  margin-top: 140px;
}

.mgtop150 {
  margin-top: 150px;
}

.mgtop160 {
  margin-top: 160px;
}

.mgtop170 {
  margin-top: 170px;
}

.mgtop180 {
  margin-top: 180px;
}

.mgtop190 {
  margin-top: 190px;
}

.mgtop200 {
  margin-top: 200px;
}

.mgtop210 {
  margin-top: 210px;
}

.mgtop220 {
  margin-top: 220px;
}

.mgtop230 {
  margin-top: 230px;
}

.mgtop240 {
  margin-top: 240px;
}

.mgtop250 {
  margin-top: 250px;
}

.mgtop260 {
  margin-top: 260px;
}

.mgtop270 {
  margin-top: 270px;
}

.mgtop280 {
  margin-top: 280px;
}

.mgtop290 {
  margin-top: 290px;
}

.mgtop300 {
  margin-top: 300px;
}

.mgbtm0 {
  margin-bottom: 0px;
}

.mgbtm10 {
  margin-bottom: 10px;
}

.mgbtm20 {
  margin-bottom: 20px;
}

.mgbtm30 {
  margin-bottom: 30px;
}

.mgbtm40 {
  margin-bottom: 40px;
}

.mgbtm50 {
  margin-bottom: 50px;
}

.mgbtm60 {
  margin-bottom: 60px;
}

.mgbtm70 {
  margin-bottom: 70px;
}

.mgbtm80 {
  margin-bottom: 80px;
}

.mgbtm90 {
  margin-bottom: 90px;
}

.mgbtm100 {
  margin-bottom: 100px;
}

.mgbtm110 {
  margin-bottom: 110px;
}

.mgbtm120 {
  margin-bottom: 120px;
}

.mgbtm130 {
  margin-bottom: 130px;
}

.mgbtm140 {
  margin-bottom: 140px;
}

.mgbtm150 {
  margin-bottom: 150px;
}

.mgbtm160 {
  margin-bottom: 160px;
}

.mgbtm170 {
  margin-bottom: 170px;
}

.mgbtm180 {
  margin-bottom: 180px;
}

.mgbtm190 {
  margin-bottom: 190px;
}

.mgbtm200 {
  margin-bottom: 200px;
}

.mgbtm210 {
  margin-bottom: 210px;
}

.mgbtm220 {
  margin-bottom: 220px;
}

.mgbtm230 {
  margin-bottom: 230px;
}

.mgbtm240 {
  margin-bottom: 240px;
}

.mgbtm250 {
  margin-bottom: 250px;
}

.mgbtm260 {
  margin-bottom: 260px;
}

.mgbtm270 {
  margin-bottom: 270px;
}

.mgbtm280 {
  margin-bottom: 280px;
}

.mgbtm290 {
  margin-bottom: 290px;
}

.mgbtm300 {
  margin-bottom: 300px;
}

.mgleft0 {
  margin-left: 0px;
}

.mgleft10 {
  margin-left: 10px;
}

.mgleft20 {
  margin-left: 20px;
}

.mgleft30 {
  margin-left: 30px;
}

.mgleft40 {
  margin-left: 40px;
}

.mgleft50 {
  margin-left: 50px;
}

.mgleft60 {
  margin-left: 60px;
}

.mgleft70 {
  margin-left: 70px;
}

.mgleft80 {
  margin-left: 80px;
}

.mgleft90 {
  margin-left: 90px;
}

.mgleft100 {
  margin-left: 100px;
}

.mgleft110 {
  margin-left: 110px;
}

.mgleft120 {
  margin-left: 120px;
}

.mgleft130 {
  margin-left: 130px;
}

.mgleft140 {
  margin-left: 140px;
}

.mgleft150 {
  margin-left: 150px;
}

.mgleft160 {
  margin-left: 160px;
}

.mgleft170 {
  margin-left: 170px;
}

.mgleft180 {
  margin-left: 180px;
}

.mgleft190 {
  margin-left: 190px;
}

.mgleft200 {
  margin-left: 200px;
}

.mgleft210 {
  margin-left: 210px;
}

.mgleft220 {
  margin-left: 220px;
}

.mgleft230 {
  margin-left: 230px;
}

.mgleft240 {
  margin-left: 240px;
}

.mgleft250 {
  margin-left: 250px;
}

.mgleft260 {
  margin-left: 260px;
}

.mgleft270 {
  margin-left: 270px;
}

.mgleft280 {
  margin-left: 280px;
}

.mgleft290 {
  margin-left: 290px;
}

.mgleft300 {
  margin-left: 300px;
}

.mgrigt0 {
  margin-right: 0px;
}

.mgrigt10 {
  margin-right: 10px;
}

.mgrigt20 {
  margin-right: 20px;
}

.mgrigt30 {
  margin-right: 30px;
}

.mgrigt40 {
  margin-right: 40px;
}

.mgrigt50 {
  margin-right: 50px;
}

.mgrigt60 {
  margin-right: 60px;
}

.mgrigt70 {
  margin-right: 70px;
}

.mgrigt80 {
  margin-right: 80px;
}

.mgrigt90 {
  margin-right: 90px;
}

.mgrigt100 {
  margin-right: 100px;
}

.mgrigt110 {
  margin-right: 110px;
}

.mgrigt120 {
  margin-right: 120px;
}

.mgrigt130 {
  margin-right: 130px;
}

.mgrigt140 {
  margin-right: 140px;
}

.mgrigt150 {
  margin-right: 150px;
}

.mgrigt160 {
  margin-right: 160px;
}

.mgrigt170 {
  margin-right: 170px;
}

.mgrigt180 {
  margin-right: 180px;
}

.mgrigt190 {
  margin-right: 190px;
}

.mgrigt200 {
  margin-right: 200px;
}

.mgrigt210 {
  margin-right: 210px;
}

.mgrigt220 {
  margin-right: 220px;
}

.mgrigt230 {
  margin-right: 230px;
}

.mgrigt240 {
  margin-right: 240px;
}

.mgrigt250 {
  margin-right: 250px;
}

.mgrigt260 {
  margin-right: 260px;
}

.mgrigt270 {
  margin-right: 270px;
}

.mgrigt280 {
  margin-right: 280px;
}

.mgrigt290 {
  margin-right: 290px;
}

.mgrigt300 {
  margin-right: 300px;
}

.pdtop0 {
  padding-top: 0px;
}

.pdtop10 {
  padding-top: 10px;
}

.pdtop20 {
  padding-top: 20px;
}

.pdtop30 {
  padding-top: 30px;
}

.pdtop40 {
  padding-top: 40px;
}

.pdtop50 {
  padding-top: 50px;
}

.pdtop60 {
  padding-top: 60px;
}

.pdtop70 {
  padding-top: 70px;
}

.pdtop80 {
  padding-top: 80px;
}

.pdtop90 {
  padding-top: 90px;
}

.pdtop100 {
  padding-top: 100px;
}

.pdtop110 {
  padding-top: 110px;
}

.pdtop120 {
  padding-top: 120px;
}

.pdtop130 {
  padding-top: 130px;
}

.pdtop140 {
  padding-top: 140px;
}

.pdtop150 {
  padding-top: 150px;
}

.pdtop160 {
  padding-top: 160px;
}

.pdtop170 {
  padding-top: 170px;
}

.pdtop180 {
  padding-top: 180px;
}

.pdtop190 {
  padding-top: 190px;
}

.pdtop200 {
  padding-top: 200px;
}

.pdtop210 {
  padding-top: 210px;
}

.pdtop220 {
  padding-top: 220px;
}

.pdtop230 {
  padding-top: 230px;
}

.pdtop240 {
  padding-top: 240px;
}

.pdtop250 {
  padding-top: 250px;
}

.pdtop260 {
  padding-top: 260px;
}

.pdtop270 {
  padding-top: 270px;
}

.pdtop280 {
  padding-top: 280px;
}

.pdtop290 {
  padding-top: 290px;
}

.pdtop300 {
  padding-top: 300px;
}

.pdbtm0 {
  padding-bottom: 0px;
}

.pdbtm10 {
  padding-bottom: 10px;
}

.pdbtm20 {
  padding-bottom: 20px;
}

.pdbtm30 {
  padding-bottom: 30px;
}

.pdbtm40 {
  padding-bottom: 40px;
}

.pdbtm50 {
  padding-bottom: 50px;
}

.pdbtm60 {
  padding-bottom: 60px;
}

.pdbtm70 {
  padding-bottom: 70px;
}

.pdbtm80 {
  padding-bottom: 80px;
}

.pdbtm90 {
  padding-bottom: 90px;
}

.pdbtm100 {
  padding-bottom: 100px;
}

.pdbtm110 {
  padding-bottom: 110px;
}

.pdbtm120 {
  padding-bottom: 120px;
}

.pdbtm130 {
  padding-bottom: 130px;
}

.pdbtm140 {
  padding-bottom: 140px;
}

.pdbtm150 {
  padding-bottom: 150px;
}

.pdbtm160 {
  padding-bottom: 160px;
}

.pdbtm170 {
  padding-bottom: 170px;
}

.pdbtm180 {
  padding-bottom: 180px;
}

.pdbtm190 {
  padding-bottom: 190px;
}

.pdbtm200 {
  padding-bottom: 200px;
}

.pdbtm210 {
  padding-bottom: 210px;
}

.pdbtm220 {
  padding-bottom: 220px;
}

.pdbtm230 {
  padding-bottom: 230px;
}

.pdbtm240 {
  padding-bottom: 240px;
}

.pdbtm250 {
  padding-bottom: 250px;
}

.pdbtm260 {
  padding-bottom: 260px;
}

.pdbtm270 {
  padding-bottom: 270px;
}

.pdbtm280 {
  padding-bottom: 280px;
}

.pdbtm290 {
  padding-bottom: 290px;
}

.pdbtm300 {
  padding-bottom: 300px;
}

.pdleft0 {
  padding-left: 0px;
}

.pdleft10 {
  padding-left: 10px;
}

.pdleft20 {
  padding-left: 20px;
}

.pdleft30 {
  padding-left: 30px;
}

.pdleft40 {
  padding-left: 40px;
}

.pdleft50 {
  padding-left: 50px;
}

.pdleft60 {
  padding-left: 60px;
}

.pdleft70 {
  padding-left: 70px;
}

.pdleft80 {
  padding-left: 80px;
}

.pdleft90 {
  padding-left: 90px;
}

.pdleft100 {
  padding-left: 100px;
}

.pdleft110 {
  padding-left: 110px;
}

.pdleft120 {
  padding-left: 120px;
}

.pdleft130 {
  padding-left: 130px;
}

.pdleft140 {
  padding-left: 140px;
}

.pdleft150 {
  padding-left: 150px;
}

.pdleft160 {
  padding-left: 160px;
}

.pdleft170 {
  padding-left: 170px;
}

.pdleft180 {
  padding-left: 180px;
}

.pdleft190 {
  padding-left: 190px;
}

.pdleft200 {
  padding-left: 200px;
}

.pdleft210 {
  padding-left: 210px;
}

.pdleft220 {
  padding-left: 220px;
}

.pdleft230 {
  padding-left: 230px;
}

.pdleft240 {
  padding-left: 240px;
}

.pdleft250 {
  padding-left: 250px;
}

.pdleft260 {
  padding-left: 260px;
}

.pdleft270 {
  padding-left: 270px;
}

.pdleft280 {
  padding-left: 280px;
}

.pdleft290 {
  padding-left: 290px;
}

.pdleft300 {
  padding-left: 300px;
}

.pdrigt0 {
  padding-right: 0px;
}

.pdrigt10 {
  padding-right: 10px;
}

.pdrigt20 {
  padding-right: 20px;
}

.pdrigt30 {
  padding-right: 30px;
}

.pdrigt40 {
  padding-right: 40px;
}

.pdrigt50 {
  padding-right: 50px;
}

.pdrigt60 {
  padding-right: 60px;
}

.pdrigt70 {
  padding-right: 70px;
}

.pdrigt80 {
  padding-right: 80px;
}

.pdrigt90 {
  padding-right: 90px;
}

.pdrigt100 {
  padding-right: 100px;
}

.pdrigt110 {
  padding-right: 110px;
}

.pdrigt120 {
  padding-right: 120px;
}

.pdrigt130 {
  padding-right: 130px;
}

.pdrigt140 {
  padding-right: 140px;
}

.pdrigt150 {
  padding-right: 150px;
}

.pdrigt160 {
  padding-right: 160px;
}

.pdrigt170 {
  padding-right: 170px;
}

.pdrigt180 {
  padding-right: 180px;
}

.pdrigt190 {
  padding-right: 190px;
}

.pdrigt200 {
  padding-right: 200px;
}

.pdrigt210 {
  padding-right: 210px;
}

.pdrigt220 {
  padding-right: 220px;
}

.pdrigt230 {
  padding-right: 230px;
}

.pdrigt240 {
  padding-right: 240px;
}

.pdrigt250 {
  padding-right: 250px;
}

.pdrigt260 {
  padding-right: 260px;
}

.pdrigt270 {
  padding-right: 270px;
}

.pdrigt280 {
  padding-right: 280px;
}

.pdrigt290 {
  padding-right: 290px;
}

.pdrigt300 {
  padding-right: 300px;
}

.nml {
  font-weight: normal;
}

.bld {
  font-weight: bold;
}

.gothic {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.mincho {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.alrigt {
  text-align: right;
}

.alleft {
  text-align: left;
}

.alcent {
  text-align: center;
}

.tate {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 4px;
}
